
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Signup</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <script src="https://kit.fontawesome.com/f6cb5c52ed.js" crossorigin="anonymous"></script>

    <link href="~/Content/CSS/AdminRegister/style.css" rel="stylesheet" />

</head>
<body>
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/Content/images/signin-image.jpg" alt="sing up image"></figure>
                        
                        
                        <a href="/Admin/Register/" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>
                        <div class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="fa-solid fa-envelope fa-xl"></i></label>
                                <input type="text" name="email" id="email" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="fa-solid fa-lock fa-xl"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <a href="/Admin/Forget/" >Forget Password</a>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                            </div>
                        </div>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="https://www.facebook.com/login/"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                                <li><a href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                                <li><a href="https://www.google.com/"><i class="fa-brands fa-google fa-xl"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!-- JS -->



</body>
</html>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("#signin").click(function () {
            var signindata = {
                c_admin_email: $("#email").val(),
                c_admin_pass: $("#pass").val()
            }
           
            var setting = {
                "url": "/Admin/CommonLogin/",
                "method": "post",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify(signindata)
            }
            console.log(signindata);
            $.ajax(setting).done(function (response) {
                console.log(response);
                if (response ==true) {
                    alert("Login Successfully");
                } else {
                    alert("Login not Successfully");
                }
            });
        });
    });


</script>

   




